$primary: var(--ion-color-primary);

.wrap {
  margin-top: 10px;
  border: 2px solid $primary;
  border-radius: 4px;
  padding: 5px 0;

  .reg-input {
    width: 100%;
    border: none;
    letter-spacing: 1px;
    color: $primary;
    font-weight: 500;
    font-size: 20px;
    box-sizing: border-box;

    &:focus {
      outline: none;
    }
  }
  .edge {
    color: rgb(196, 196, 196);
    font-size: 30px;
    padding: 0 5px;
  }
}

.flag-input {
  font-weight: 500;
  font-size: 18px;
  letter-spacing: 2px;
}

.quick-access {
  overflow-x: auto;
  white-space: nowrap;

  .symbol {
    display: inline-block;
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    background: $primary;
    border-radius: 4px;
    color: white;
    margin: 10px;
    font-size: 22px;
  }
}

.output-area {
  width: 100%;
  min-height: 100px;
  border-radius: 4px;
  border: solid 1px rgb(214, 214, 214);
  padding: 10px;
  box-sizing: border-box;
  font-family: "Coda", cursive;
  font-size: 20px;

  .char {
    padding: 0 1px;
  }
}

.string-input {
  width: 100%;
  border: 2px solid rgb(163, 163, 163);
  border-radius: 4px;
  outline: none;
  padding: 12px 5px;
  letter-spacing: 1px;

  &:focus {
    border-color: $primary;
  }
}
.matched {
  width: 100%;
  text-align: center;
  padding-top: 4px;
  box-sizing: border-box;
  font-size: 30px;
  color: $primary;
  font-family: "Coda", cursive;
}

::placeholder {
  color: rgb(199, 199, 199);
}

.arrow {
  display: flex;
  align-items: center;
  justify-content: center;
  .i {
    color: $primary;
    font-size: 20px;
  }
}

@for $i from 1 through 200 {
  @media (min-height: 500px + $i + 0px) {
    .output-area {
      min-height: 100px + $i + 0px;
    }
  }
}
