<ion-header>
  <ion-toolbar color="primary">
    <ion-title class="toolbar-title">
      TesteR
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid fixed>
    <ion-row>
      <ion-col size="9">
        <ion-row class="wrap">
          <ion-col class="edge" size="1">/</ion-col>
          <ion-col size="10">
            <input
              (keyup)="checkRegex()"
              autocapitalize="none"
              class="reg-input"
              type="text"
              [(ngModel)]="regInput"
            />
          </ion-col>
          <ion-col class="edge" size="1">/</ion-col>
        </ion-row>
      </ion-col>

      <ion-col size="3">
        <ion-item>
          <ion-label position="floating">flags</ion-label>
          <ion-input
            class="flag-input"
            [(ngModel)]="flagInput"
            (keyup)="checkRegex()"
          ></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>

    <!-- quick access -->
    <ion-row>
      <ion-col size="11">
        <div class="quick-access">
          <div
            class="symbol"
            *ngFor="let symbol of symbols"
            (click)="symbolClicked(symbol)"
          >
            {{ symbol }}
          </div>
        </div>
      </ion-col>
      <ion-col size="1" class="arrow">
        <ion-icon class="i" name="arrow-dropright"></ion-icon>
      </ion-col>
    </ion-row>

    <!-- testing string -->

    <ion-row>
      <ion-col size="9">
        <input
          (keyup)="stringTyped()"
          autocapitalize="none"
          placeholder="Testing String"
          type="text"
          class="string-input"
          [(ngModel)]="stringInput"
        />
      </ion-col>
      <ion-col size="3">
        <div class="matched" (click)="test()">0</div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <div class="output-area">
          <span class="char" *ngFor="let char of chars">{{ char }}</span>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
