<ion-header>
  <ion-toolbar color="primary">
    <ion-title class="toolbar-title">
      TesteR
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid fixed class="app-grid">
    <!-- regex input -->
    <ion-row>
      <ion-col size="9">
        <ion-row class="wrap">
          <ion-col class="edge" size="1">/</ion-col>
          <ion-col size="10">
            <input
             id="regInput"
              (keyup)="checkRegex()"
              (keydown)="test($event)"
              autocapitalize="none"
              #inputRef
              class="reg-input"
              type="text"
              [(ngModel)]="regInput"
              
            />
          </ion-col>
          <ion-col class="edge" size="1">/</ion-col>
        </ion-row>
      </ion-col>

      <!-- flags -->

      <ion-col size="3">
        <ion-item>
          <ion-label position="floating">flags</ion-label>
          <ion-input
            class="flag-input"
            (click)="checkRegex()"
            [(ngModel)]="flagInput"
            (keyup)="flagTyped()"
          ></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>

    <!-- quick access -->
    <ion-row>
      <ion-col size="11">
        <div class="quick-access">
          <div
            id="symbol"
            
            class="symbol"
            *ngFor="let symbol of symbols"
            (click)="symbolClicked(symbol)"
          >
          
            {{ symbol }}
          </div>
        </div>
      </ion-col>
      <ion-col size="1" class="arrow">
        <ion-icon class="i" name="arrow-dropright"></ion-icon>
      </ion-col>
    </ion-row>

    <!-- testing string -->

    <ion-row *ngIf="onMatch; else isOnReplace">
      <ion-col size="9">
        <input
          (keyup)="stringTyped()"
          
          autocapitalize="none"
          placeholder="Testing String"
          type="text"
          class="string-input"
          [(ngModel)]="stringInput"
        />
      </ion-col>

      <ion-col size="3">
        <div class="matched" (click)="testingFunction()">{{ matchedAmount }}</div>
      </ion-col>
    </ion-row>
    <ng-template #isOnReplace>
      <ion-row>
        <ion-col size="6">
          <input
            (keyup)="stringTyped()"
            autocapitalize="none"
            placeholder="Testing String"
            type="text"
            class="string-input"
            [(ngModel)]="stringInput"
          />
        </ion-col>

        <ion-col size="6">
          <input
            (keyup)="checkRegex()"
            autocapitalize="none"
            placeholder="Replace String"
            type="text"
            class="string-input"
            [(ngModel)]="replaceWith"
          />
        </ion-col>
      </ion-row>
    </ng-template>

    <!-- segment change -->

    <ion-row>
      <ion-col>
        <ion-segment (ionChange)="segmentChanged($event)">
          <ion-segment-button value="match" checked>
            <ion-label>Match</ion-label>
          </ion-segment-button>
          <ion-segment-button value="replace">
            <ion-label>Replace</ion-label>
          </ion-segment-button>
        </ion-segment>
      </ion-col>
    </ion-row>

    <!-- output -->
    <ion-row class="ion-align-items-center">
      <ion-col>
        <div class="output-area">
          <span class="char" *ngFor="let char of chars">{{ char }}</span>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
